section {
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;

  & > * {
    min-width: 20%;
  }
}

.register-label {
  color: dodgerblue;
  cursor: pointer;
}
