<section class="container">
  <div class="list">
    <mat-list role="list">
      <mat-list-item *ngFor="let sb of subjects" role="listitem">
        <div>{{ sb.name }}</div>
        <button mat-icon-button color="primary" (click)="edit(sb)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="form">
    <h3>{{ editSubject ? 'Edit' : 'Create' }} Subject</h3>
    <form [formGroup]="form">
      <mat-form-field class="">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="saveSubject()"
      >
        Save
      </button>
    </form>
  </div>
</section>
