:host {
  ::ng-deep {
    .mat-list-item-content {
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
    }

    .mat-card-content {
      width: 300px;

      .mat-form-field {
        width: 300px;
      }
    }
  }
}

.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.form {
  form {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

.list {
  width: 100%;
}
