:host {
  ::ng-deep {
    .mat-drawer-inner-container {
      background-color: #e8e8e8;
    }

    .mat-drawer-content {
      background-color: #fff;
    }

    .nav-item{
      background-color: #e8e8e8;
      border-bottom: 1px solid #ccc;

      &.active {
        background-color: #fff;
        border-bottom: none;
      }
    }
  }
}

.container {
  height: 100%;
}

.sidenav {
  width: 350px;
  border-right: none;
}

.content {
  padding: 20px;
}
