:host {
  ::ng-deep {
    .mat-drawer-inner-container {
      background-color: #e8e8e8;
    }

    .mat-drawer-content {
      background-color: #f4f4f4;
    }

    .nav-item{
      background-color: #e8e8e8;
      border-bottom: 1px solid #ccc;
      cursor: pointer;

      &.active {
        background-color: #f4f4f4;
        border-bottom: none;
      }
    }
  }
}

.container {
  height: calc(100% - 64px);
}

.sidenav {
  width: 350px;
  border-right: none;
}

.content {
  padding: 20px;
}
