<mat-tab-group>
  <mat-tab label="Schools">
    <section class="school-container">
      <section *ngIf="school; else addSchool" class="school">
        <div class="school-data">
          <div class="name">Name: {{ school?.name }}</div>
          <div class="address">Address: {{ school?.address }}</div>
        </div>

        <div class="edit">
          <button
            mat-flat-button
            color="primary"
            [disabled]="showAddSchoolForm"
            (click)="openSchoolForm()"
          >
            EDIT SCHOOL
          </button>
        </div>
      </section>

      <section *ngIf="showAddSchoolForm" class="school-form-container">
        <form [formGroup]="schoolForm" class="school-form">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            [disabled]="schoolForm.invalid"
            (click)="createSchool()"
          >
            SAVE
          </button>
        </form>
      </section>
    </section>
  </mat-tab>

  <mat-tab label="Users">
    <ng-template matTabContent>
      <mat-list role="list">
        <mat-list-item
          *ngFor="let user of users"
          role="listitem"
        >
          <div class="item-wrapper">
            <div class="title">
              <div class="name">
                {{ user.firstName }} {{ user.lastName}}
              </div>
              <div class="role">
                <button
                  mat-flat-button
                  color="primary"
                  [class.admin-label]="user.isAdmin"
                  (click)="toggleAdmin(user)"
                >
                  {{ user.isAdmin ? 'ADMIN' : 'SET AS ADMIN' }}
                </button>
              </div>
            </div>

            <div class="email">{{ user.email }}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #addSchool>
  <section *ngIf="!showAddSchoolForm" class="add-school">
    <button
      mat-flat-button
      color="primary"
      (click)="openSchoolForm()"
    >
      ADD SCHOOL
    </button>
  </section>
</ng-template>
