:host {
  ::ng-deep {
    mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        height: 100%;
      }

      mat-tab-body {
        height: 100%;

        mat-list {
          height: 100%;

          mat-list-item {
            padding: 20px!important;
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
  }
}

.item-wrapper {
  width: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }
}

.admin-label {
  background-color: #316c04;
  color: white;
}

.role {
  position: relative;
  right: 10px;
}

.add-school {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.school {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px;

  & > div {
    font-size: 1.2rem;
  }
}

.school-form {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;

  & > mat-form-field {
    width: 30%;
  }
}

.school-data {
  display: flex;
  gap: 20px;
  flex-direction: column;
}